header{
  background-image: linear-gradient( to top right, rgba(0, 0, 0, 0.531), rgba(255, 255, 255, 0.394)), url(https://www.google.com/search?q=lotr&sxsrf=ALeKk00TXSNUj8tg_PSyep6gsj9eQ1FGBw:1622098940581&source=lnms&tbm=isch&sa=X&ved=2ahUKEwiN5JK5penwAhWUDGMBHZUkCCcQ_AUoAXoECAEQAw&biw=1282&bih=591#imgrc=DhdfJyJE_q2M2M);
  width: 100%;
  height: 400px;
  padding-top: 100px;
  background-position: center;
  background-size: cover;
  color: white;
  font-style: italic;
  display: flex;
  flex-direction: column;
  align-items: center;
}
img{
  margin-top: 20px;
  margin-left: 20px;
  width: 80%;
}
