<!-- <div class="card">
    <div class="card__face card__face--front">
      <img          src="https://i.loli.net/2019/11/23/cnKl1Ykd5rZCVwm.jpg" />
    </div>

    <div class="card__face card__face--back">
      <img src="https://i.loli.net/2019/11/16/cqyJiYlRwnTeHmj.jpg" />
    </div>
  </div> -->


<br>
<div class="">

  <!-- logo -->
  <div *ngIf="!flipCard" class="" (click)="flipCard = !flipCard">
    <img src="../../assets/images/logo.png" alt="">
  </div>

  <!-- character image -->
  <div *ngIf="flipCard" class="" (click)="flipCard = !flipCard">
    <img src="../../assets/images/{{lotrCharacter.urlName}}" alt="">
  </div>

</div>
<br>
